.navbar-nav a{
   color: var(--bs-nav-link-color);
    text-decoration: none;

}
.navbar-nav a:focus, .navbar-nav a:hover, .navbar-nav a.active{
    color: var(--bs-link-hover-color);
}
.dropdown-item:focus, .dropdown-item:hover{
    color: #fff;
    background-color:var(--bs-link-hover-color);
}